.btn {
    font-weight: lighter;
    border-radius: 2px;
    padding: .3em 2em .3em 2em;
}
.btn-primary {
    background-color: $nov-red;
    border-color: $nov-red;
    &:hover {
        background: $nov-gray;
    background: -moz-linear-gradient(top, $nov-gray 0%, $nov-gray);
    background: -webkit-gradient(linear, left top, left bottom, from($nov-gray), to($nov-gray));
    }
}
.btn-success {
    background-color: $nov-green;
    border-color: $nov-green;
    &:hover {
        background-color: $nov-green;
        border-color: $nov-green;
    }
}
.btn-info {
    background-color: $nov-blue;
    border-color: $nov-blue;
    &:hover {
        background-color: $nov-blue;
        border-color: $nov-blue;
    }
}
.btn-danger {
    background-color: $nov-dark-red;
    border-color: $nov-dark-red;
    &:hover {
        background-color: $nov-dark-red;
        border-color: $nov-dark-red;
    }
}