

.btn {
    font-weight: lighter;
    border-radius: 3px;
    padding: .3em 1.6em .3em 1.6em;
    cursor: pointer;
   
}



.btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-default {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.btn-info {
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}

.btn-success {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

.btn-warning {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}

.btn-danger {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}