
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;

     
}

    
.carousel-caption {
 background-color: #000000 ;
    width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
    opacity: .75;
}



.carousel-caption h3 {
color:#fff;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: 15;
  margin: 0;

  text-align: center;
    width: 100%;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  
}


