body{
    font-family: map-get($properties, font-family);
}
.form-control {
    background-color: #DCDDDE;
    border-radius: 0;
    border-color: $nov-red;
    &:focus {
        border-color: $nov-red;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #000;
    }
}