
.jumbotron{
    position: relative;
    padding:0 !important;
    color:#fff;
 
    margin-top: 5px;
    text-align:left;
    margin-bottom: 0 !important;
 background-color: lighten($nov-gray, 15%);
}


.col-xs-4{
    background:rgba(157,52,99,0.7);    
}