.navbar {
    background-color: #fff;
    border-bottom-color:$nov-red;
    border-bottom-width: 3px;
    border-radius: 0;
}
.navbar-default {
    .navbar-toggle {
        border: none;
        margin-bottom: 23px;
        margin-top: 23px;
        .icon-bar {
            background-color:$nov-red;
        }
    }
}
.navbar .container {
   width:80%;
}
.navbar-brand {
    line-height: 50px;
    width:inherit;
}
.navbar-nav > li > a {
    color: #000;
    line-height: 50px;
}
.navbar-brand img {
	width: 152px;
	height: 60px;
	overflow: hidden;
	position: absolute;
	text-indent: 100%;
	white-space: nowrap;
	padding: 5px;
	&:hover {
		opacity: 0.8;
	}
}

@media screen and(max-width: 768px) {

	.navbar-header {
		margin: auto 0;
		padding: 1px;
	}
	.navbar-brand img {
		width: 100px;
		height: auto;
		overflow: hidden;
		position: absolute;
		text-indent: 100%;
		white-space: nowrap;
		padding: 5px;
	}

}